# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
.idea

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos
Project-1/.idea/workspace.xml
Project-1/node_modules/.bin/mime
Project-1/node_modules/accepts/HISTORY.md
Project-1/node_modules/accepts/index.js
Project-1/node_modules/accepts/LICENSE
Project-1/node_modules/accepts/package.json
Project-1/node_modules/accepts/README.md
Project-1/node_modules/array-flatten/array-flatten.js
Project-1/node_modules/array-flatten/LICENSE
Project-1/node_modules/array-flatten/package.json
Project-1/node_modules/array-flatten/README.md
Project-1/node_modules/body-parser/HISTORY.md
Project-1/node_modules/body-parser/index.js
Project-1/node_modules/body-parser/lib/read.js
Project-1/node_modules/body-parser/lib/types/json.js
Project-1/node_modules/body-parser/lib/types/raw.js
Project-1/node_modules/vary/README.md
Project-1/node_modules/vary/package.json
Project-1/node_modules/vary/LICENSE
Project-1/node_modules/vary/index.js
Project-1/node_modules/vary/HISTORY.md
Project-1/node_modules/utils-merge/README.md
Project-1/node_modules/utils-merge/package.json
Project-1/node_modules/utils-merge/LICENSE
Project-1/node_modules/utils-merge/index.js
Project-1/node_modules/utils-merge/.npmignore
Project-1/node_modules/unpipe/README.md
Project-1/node_modules/unpipe/package.json
Project-1/node_modules/unpipe/LICENSE
Project-1/node_modules/unpipe/index.js
Project-1/node_modules/unpipe/HISTORY.md
Project-1/node_modules/type-is/README.md
Project-1/node_modules/type-is/package.json
Project-1/node_modules/type-is/LICENSE
Project-1/node_modules/type-is/index.js
Project-1/node_modules/type-is/HISTORY.md
Project-1/node_modules/toidentifier/README.md
Project-1/node_modules/toidentifier/package.json
Project-1/node_modules/toidentifier/LICENSE
Project-1/node_modules/toidentifier/index.js
Project-1/node_modules/statuses/README.md
Project-1/node_modules/statuses/package.json
Project-1/node_modules/statuses/LICENSE
Project-1/node_modules/statuses/index.js
Project-1/node_modules/statuses/HISTORY.md
Project-1/node_modules/statuses/codes.json
Project-1/node_modules/setprototypeof/test/index.js
Project-1/node_modules/setprototypeof/README.md
Project-1/node_modules/setprototypeof/package.json
Project-1/node_modules/setprototypeof/LICENSE
Project-1/node_modules/setprototypeof/index.js
Project-1/node_modules/setprototypeof/index.d.ts
Project-1/node_modules/serve-static/README.md
Project-1/node_modules/serve-static/package.json
Project-1/node_modules/body-parser/lib/types/text.js
Project-1/node_modules/body-parser/lib/types/urlencoded.js
Project-1/node_modules/body-parser/LICENSE
Project-1/node_modules/body-parser/package.json
Project-1/node_modules/body-parser/README.md
Project-1/node_modules/bytes/History.md
Project-1/node_modules/bytes/index.js
Project-1/node_modules/bytes/LICENSE
Project-1/node_modules/bytes/package.json
Project-1/node_modules/bytes/Readme.md
Project-1/node_modules/content-disposition/HISTORY.md
Project-1/node_modules/content-disposition/index.js
Project-1/node_modules/content-disposition/LICENSE
Project-1/node_modules/content-disposition/package.json
Project-1/node_modules/content-disposition/README.md
Project-1/node_modules/content-type/HISTORY.md
Project-1/node_modules/content-type/index.js
Project-1/node_modules/content-type/LICENSE
Project-1/node_modules/content-type/package.json
Project-1/node_modules/content-type/README.md
Project-1/node_modules/cookie-signature/.npmignore
Project-1/node_modules/cookie-signature/History.md
Project-1/node_modules/cookie-signature/index.js
Project-1/node_modules/cookie-signature/package.json
Project-1/node_modules/cookie-signature/Readme.md
Project-1/node_modules/cookie/HISTORY.md
Project-1/node_modules/cookie/index.js
Project-1/node_modules/cookie/LICENSE
Project-1/node_modules/cookie/package.json
Project-1/node_modules/cookie/README.md
Project-1/node_modules/debug/.coveralls.yml
Project-1/node_modules/debug/.eslintrc
Project-1/node_modules/debug/.npmignore
Project-1/node_modules/debug/.travis.yml
Project-1/node_modules/debug/CHANGELOG.md
Project-1/node_modules/debug/component.json
Project-1/node_modules/debug/karma.conf.js
