<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/7aae2eb976.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js" defer></script>
    <script src="js\script.js" defer></script>
</head>

<body>
<header id="main-header" class="main-header">
    <div class="main-logo"><h1>Курсы online</h1></div>
    <div class="main-contact"></div>
    <a class="main-basket" href="#"><i class="fas fa-shopping-basket"></i></a>
</header>

<div id="app">
    <div>
        <form class="form-wrapper">
            <input type="text" id="search"  placeholder="Search something..." v-model="searchLine">
            <input class="btn" type="submit" value="Найти" id="submit" @click.prevent="filterGoods()">
            <input class="btn" type="submit" value="Очистить поиск" id="clear-filter" @click.prevent="clearfilterGoods()">
        </form>
    </div>

    <div class="basket">
        <h3 v-if="basket.length !== 0">Корзина</h3>
        <h3 v-else>Корзина пуста</h3>
        <table  v-if="basket.length !== 0" class="basket-list">
            <tr class="titel-tbl">
                <td>Товар</td>
                <td>Цена</td>
                <td></td>
            </tr>
            <tr v-for="el_basket in basket">
                <td>{{ el_basket.product_name }}</td>
                <td>{{ el_basket.price }}</td>
                <td><a class="del-btn" @click="deleteProduct(el_basket)">x</a></td>
            </tr>
            <tr class="titel-tbl">
                <td>Cумма товара</td>
                <td>{{sumGood}}</td>
                <td></td>
            </tr>
        </table>
    </div>

    <main>
        <div v-if="goods.length !== 0" class="goods-list">
            <div class="goods-item" v-for="good in filteredGoods">
                <h3>{{ good.product_name }}</h3>
                <span>Цена: {{ good.price }}</span>
                <button class="buy-btn" @click="addProduct(good)">Добавить в корзину</button>
            </div>
        </div>
        <div v-else class="goods-list">
            <span>Нет данных</span>
        </div>
    </main>

</div>

<footer id="main-footer" class="main-footer">
    <span>&copy; Курсы online</span>
    <div class="main-contact"></div>
</footer>

</body>
</html>