body{
    width: 1024px;
    margin: 0 auto;
}

main{
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    color: #867806;
}

i {
    margin: 0 5px;
    font-size: 28px;
}

span{
    margin: 10px 0 0 0;
}

.main-header{
    padding: 0 20px;
    background: linear-gradient(to bottom, #f7df1e, #fefdee);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.main-footer{
    padding: 20px;
    margin: 20px 0 0 0;
    background: linear-gradient(to bottom, #fefdee, #f7df1e);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.goods-list{
    display: flex;
    margin: 10px;
}

.goods-item{
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 0;
}

.goods-item:nth-child(3n+3){
   margin: 0;
}

.form-wrapper{
    margin: 10px 0 0 0;
}

button{
    display: block;
    margin: 10px 5px 0 0;
    padding: 5px;
    background-color: #fcf4b6;
    border-radius: 10%;
    border: 2px solid #fcf4b6;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
}

.buy-btn{
    align-self: flex-start;
}

button:hover{
    background-color: #f7df1e;
    background: linear-gradient(to top, #fcf4b6, #fefdee);
}

.form-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px 0 0 0;
}

.form-wrapper input{
    margin: 0 5px 0 0;
    padding: 5px;
}

.btn{
    display: block;
    background-color: #fcf4b6;
    border-radius: 10%;
    border: 2px solid #fcf4b6;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    align-self: flex-start;
}

.btn:hover{
    background-color: #f7df1e;
    background: linear-gradient(to top, #fcf4b6, #fefdee);
}

.del-btn{
    color: red;
}

.basket{
    margin: 10px;
}

table {
    font-size: 14px;
    background: #fbfbfd;
    max-width: 50%;
    width: 50%;
    border-collapse: collapse;
    text-align: left;
    margin: 10px 0 0 0;
}
th, td {
    padding: 10px 5px;
}

.titel-tbl{
    font-weight: bold;
}
